<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.45" targetFramework="net461" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.9.0" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="Noksa.WebDriver.ScreenshotsExtensions" version="0.1.5.4" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net452" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="124.0.6367.20700" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>